extends layout

block content
  h1 Junbi
  table(ng-controller="ShowListCtrl")
    thead Series
    tbody
      tr(ng-repeat="show in shows")
        td {{show.name}}
        td {{show.season}}
        td {{show.currentEp}} / {{show.eps}}
        td {{show.nextAirDate}}